@model IEnumerable<BoardRoomSystem.Models.MeetingRoom>

@{
    ViewData["Title"] = "MeetingRoom";
}

<h2>Lista de Sala de Juntas</h2>
<ol class="breadcrumb">
  <li><a asp-action="Index" asp-controller="Home">Home</a></li>
  <li><label>Salas</label></li>
  @*<li class="active">Data</li>*@
</ol>

<div>
    <a asp-action="Create" class="btn btn-success"><i class="far fa-file"></i> Nuevo</a>
</div>

<br />

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameMeetR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DescriptionMeetR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaxNumbPeopleMeetR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location.NameLocation)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.State.state_Name)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.ImagePath)
                </th>
                <th>
                    <label>Opciones</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.NameMeetR)</td>
                    <td>@Html.DisplayFor(model => item.DescriptionMeetR)</td>
                    <td>@Html.DisplayFor(model => item.MaxNumbPeopleMeetR)</td>
                    <td>@Html.DisplayFor(model => item.Location.NameLocation)</td>
                    @*<td>@Html.DisplayFor(model => item.State.state_Name)</td>*@
                    <td><img src="@item.ImagePath" height="100px;" width="150px;"/></td>

                    <td>
                        @*<a asp-action="Edit" class="btn btn-warning btn-sm" asp-route-id="@item.IdMeetR"><i class="fas fa-edit"></i> Editar</a>*@
                        <a asp-action="Details" class="btn btn-primary btn-sm" asp-route-id="@item.IdMeetR"><i class="far fa-file-alt"></i> Detalles</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*-----Modal of Inactivity-----*@

<div id="inactivity_warning" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close inactivity_ok" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" style="color:FIREBRICK;">¡Aviso por Inactividad!</h4>
   
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div id="custom_alert_message" class="span12">
                        La sesión se cerrará en menos de 3 minutos debido a la inactividad en la página.
                        Presione el botón de "Aceptar" para evitar que se cierre la sesión.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" class="btn btn-primary inactivity_ok" data-dismiss="modal" aria-hidden="true">Aceptar</a>
            </div>
        </div>
    </div>
    
</div>

<input id="user_activity" name="user_activity" type="hidden" value="active" />
<input id="user_loged_in" name="user_loged_in" type="hidden" value="true" />
                
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script src="~/js/locale-all.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
   
    <script src="~/js/TempAlertInactivity.js"></script>
}
