@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BoardRoomSystem.Core.ViewModels.EditUserViewModel

        <h3 class="h3">Editar Usuario</h3>

    <div class="container cont_usuario">
        <div class="col-md-9 offset-md-3">


            @using (Html.BeginForm("OnPost", "User"))
            {
                @Html.HiddenFor(h => @Model.User.Id)
                ;
                <div class="row">
                    <div class="col-sm-6">
                        <label class="form-label">Nombre</label>
                        <input asp-for="@Model.User.FirstNameUser" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="@Model.User.FirstNameUser" class="text-danger">
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <label class="form-label">Apellido</label>
                        <input asp-for="@Model.User.LastNameUser" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="@Model.User.LastNameUser" class="text-danger">
                        </span>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="form-label">Usuario</label>
                    <input asp-for="@Model.User.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="@Model.User.Email" class="text-danger">
                    </span>
                </div>
            </div>
                <br />
                <h5 class="mb-3">Roles </h5>

                <div class="my-3">

                    @for (int i = 0; i < @Model.Roles.Count(); i++)
                    {
                        <div class="form-check">
                            @Html.CheckBoxFor(c => @Model.Roles[i].Selected)
                            @Html.HiddenFor(h => @Model.Roles[i].Value)

                            @Html.LabelFor(l => @Model.Roles[i].Selected, @Model.Roles[i].Text, new {@class="form-check-label"})
                            @Html.HiddenFor(h => @Model.Roles[i].Text)
                        </div>
                    }
                </div>
              <div class="row">
                <div class="col-md-3 cont_register">
                    <button type="submit" value="save" class="form-control btn btn-primary">Guardar</button>
                </div>
                <div class="col-md-3 cont_register">
                    <a asp-action="Index" class="form-control btn btn-danger">Cancelar</a>
                </div>
           
            </div>
            }
        </div>
    </div>

@*-----Modal of Inactivity-----*@

<div id="inactivity_warning" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close inactivity_ok" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" style="color:FIREBRICK;">¡Aviso por Inactividad!</h4>
   
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div id="custom_alert_message" class="span12">
                        La sesión se cerrará en menos de 3 minutos debido a la inactividad en la página.
                        Presione el botón de "Aceptar" para evitar que se cierre la sesión.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" class="btn btn-primary inactivity_ok" data-dismiss="modal" aria-hidden="true">Aceptar</a>
            </div>
        </div>
    </div>
    
</div>

<input id="user_activity" name="user_activity" type="hidden" value="active" />
<input id="user_loged_in" name="user_loged_in" type="hidden" value="true" />
                
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script src="~/js/locale-all.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
   
    <script src="~/js/TempAlertInactivity.js"></script>
}

