@model BoardRoomSystem.Models.ViewModels.ReservationsViewModel
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .popper,
    .tooltip {
        position: absolute;
        z-index: 9999;
        background: #FFC107;
        color: black;
        width: 150px;
        border-radius: 3px;
        box-shadow: 0 0 2px rgba(0,0,0,0.5);
        padding: 10px;
        text-align: center;
    }
</style>


@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{

   @*<!-- Modal -->*@
    <div class="modal fade" id="reservationsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reservar Sala</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="modal-body">

                    <form id="create-reservation">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label class="control-label">Asunto</label>
                            <input asp-for="Reservations.Reservation_Subject" id="txtSubject" class="form-control" />
                        </div>

                        <div class="form-group">
                             @*@{
                                SelectList item8 = ViewBag.Location;
                              }*@
                            <div class="form-group">
                                <label>Ubicaciones</label>
                                <div class="col-md-14">
                                   @*@Html.DropDownListFor(model => model.Reservations.Location,ViewBag.Location as SelectList, "-- Seleccionar Sala--", new { @class = "form-control" })*@
                                   @Html.DropDownList("Location", Model.Location, "Seleccionar Ubicación" , new { @class = "form-control", id = "Location" })
                                   @* @Html.ValidationMessageFor(model => model.Reservations.Location.Location_Id, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label>Ubicaciones</label>
                            <select asp-for="Reservations.Location.Location_Id" class="form-control" asp-items="ViewBag.Location_Id"></select>
                        </div>*@

         
                        <div class="form-group">
                            @*@{
                                SelectList dataItems2 = ViewBag.MeetingRooms;
                            }*@
                            <div class="form-group">
                                <label>Salas</label>
                                <div class="col-md-14">
                                    @Html.DropDownList("MeetingRooms", Model.MeetingRooms, "Seleccionar Sala" , new { @class = "form-control", id = "MeetingRooms" })
                                    @*@Html.DropDownListFor(model => model.MeetingRooms, dataItems2, "-- Seleccionar Sala--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Reservations.MeetingRooms.MTGR_Id, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @*@{
                                SelectList dataItems3 = ViewBag.AreasViewModel;
                            }*@
                            <div class="form-group">
                                <label>Área de quién reserva la sala</label>
                                <div class="col-md-14">
                                    @Html.DropDownList("AreasViewModel", Model.AreasViewModel, "Seleccionar Área" , new { @class = "form-control", id = "AreasViewModel" })
                                   @* @Html.DropDownListFor(model => model.AreasViewModel, dataItems3, "-- Seleccionar Área--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Reservations.AreasViewModel.Area_Id, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </div>

                        <div class="form-floating">
                            <label for="start" class="form-label">Fecha Inicio</label>
                            <input asp-for="Reservations.Reservation_StartDate" class="form-control" id="txtStart" />
                        </div>
                        <div class="form-group">
                            <label for="end" class="control-label">Fecha Final</label>
                            <input asp-for="Reservations.Reservation_EndtDate" class="form-control" id="txtEnd" />
                        </div>


                        <div class="form-group">
                            <label class="control-label">Destinatario</label>
                            <input asp-for="Reservations.Reservation_Recipient" id="txtRecipient" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Número de personas</label>
                            <input asp-for="Reservations.Reservation_NumbPeople" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Reservations.Reservation_Description" class="control-label"></label>
                            <input asp-for="Reservations.Reservation_Description" class="form-control" />
                            <span asp-validation-for="Reservations.Reservation_Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Reservations.Reservation_Delegate" class="control-label"></label>
                            <input asp-for="Reservations.Reservation_Delegate" class="form-control" />
                            <span asp-validation-for="Reservations.Reservation_Delegate" class="text-danger"></span>
                        </div>
                        <br />

                        @*<div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-warning">Regresar</a>
                        </div>*@

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                           @* <input type="submit" id="btnSave" value="Guardar" class="btn btn-primary" />*@
                            @*<div class="form-group">
                                <button type="button" class="btn btn-primary" data-ajax-method="get" data-toggle="ajax-modal" data-target="#ValidateAddress"
                                            data-url="@Url.Action("SaveReservation", new { model = Model })">Guardar</button>
                                
                            </div>*@
                        </div>



                    </form>

                </div>

            </div>
        </div>
    </div>
}

@*@if (Model != null)
    {
        <script type="text/javascript">
            $(function () {
                alert("Inserted Customer ID: " + @Model.Reservations.Reservation_Id);
            });
        </script>
    }*@

<script>

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'es',
            timeZone: 'local',
            customButtons: {
                myCustomButton: {
                    text: 'Filtros',
                    click: function() {
                        alert('clicked the custom button!');
                    }
                }
            },

            initialView: 'dayGridMonth',
            events: @Html.Raw(ViewData["Reservations"]),
            resources: @Html.Raw(ViewData["Resources"]),
            headerToolbar: {
                left: 'today prev,next myCustomButton',
                center: 'title',
                right: 'timeGridWeek,dayGridMonth,listMonth'
            },
            eventDidMount: function(info) {
                var tooltip = new Tooltip(info.el, {
                    title: info.event.extendedProps.description,
                    placement: 'top',
                    trigger: 'hover',
                    container: 'body'
                });
            },
            selectable: true,
            selectHelper: true,
            selectMirror: true,


            dateClick: function(selectInfo) {
                info.date
                console.log(info.date);
            },
            select: function(info) {
                document.getElementById('txtStart').value = info.startStr;
                if (document.getElementById('txtEnd') != null) {
                           document.getElementById('txtEnd').value = info.endStr;
                }
                $('#reservationsModal').modal('toggle');

                console.log(info.startStr);
                console.log(info.endStr);
            }


            //select: function(arg) {
            //    var title = prompt('Nombre del Evento: ');
            //    if (title) {
            //        calendar.addEvent({
            //            title: title
            //        })
            //    }
            //    calendar.unselect()
            //},
            //eventClick: function(arg) {
            //    if (confirm('Estas seguro de eliminar este evento?')) {
            //        arg.remove()
            //    }
            //},
        });
        calendar.render();
    });

    //$('button[data-toggle="ajax-modal"]').click(function(event) {
    //    event.preventDefault();
    //    var url = $(this).data('Home/SaveReservation');
    //    // get the form containing the submit button
    //    var form = $(this).closest('form')
    //    var $j = jQuery.noConflict();
    //    // serialize all the fields in the form
    //    var model = form.serialize();
    //    // the the request to the url along with the form (model) data
    //    $j.get(url, model).done(function(data) {
    //        PlaceHolderElement.html(data);
    //        PlaceHolderElement.find('reservationsModal').modal('show');
    //    })
    //})

</script>

<div class="text-center">
    <h3 class="display-4">Sistema de Reservación de Salas</h3>
    <div id="calendar"></div>
</div>