@model BoardRoomSystem.Models.Reservations

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation_Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation_Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation_Recipient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation_Recipient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation_StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation_StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation_EndtDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation_EndtDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation_NumbPeople)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation_NumbPeople)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation_Delegate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation_Delegate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location.Location_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.Location_Id)
        </dd>
    </dl>
    
    <div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Reservation_Id">Editar</a>
    <a class="btn btn-warning" asp-action="Index">Regresar</a>
</div>
</div>

