@model IEnumerable<BoardRoomSystem.Models.Reservations>

@{
    ViewData["Title"] = "Reservations";
}

<h2>Reservaciones</h2>

<div class="row search">
    <div class="col-auto">
        <input type="text" class="form-control-plaintext" id="txt-search" placeholder="Buscar..." />
    </div>
    <div class="col-auto">
        <a class="btn btn-secondary" onclick="departament_search()" id="search-link"><i class="fas fa-search"></i></a>
        <a asp-action="Create" class="btn btn-success"><i class="far fa-file"></i> Nuevo</a>
    </div>
</div>
<br />

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Reservation_Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location.Location_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reservation_StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reservation_EndtDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reservation_Recipient)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.Reservation_Subject)</td>
                    <td>@Html.DisplayFor(model => item.Location_id)</td>
                    <td>@Html.DisplayFor(model => item.Reservation_StartDate)</td>
                    <td>@Html.DisplayFor(model => item.Reservation_EndtDate)</td>
                    <td>@Html.DisplayFor(model => item.Reservation_Recipient)</td>
                    <td>
                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Reservation_Id"><i class="fas fa-edit"></i> Editar</a>
                        <a asp-action="Details" class="btn btn-success" asp-route-id="@item.Reservation_Id"><i class="far fa-file-alt"></i> Detalles</a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Reservation_Id"><i class="far fa-trash-alt"></i> Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



